<h1 class='text-primary'>Home</h1>
<div class="card">
    <div class="card-head">Lorem ipsum- dashboard</div>
    <div class="card-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem esse provident temporibus reprehenderit atque culpa labore est ut magni. Modi porro accusamus eveniet dolor saepe, id repellendus fuga suscipit tenetur cupiditate laborum veniam? Dolore soluta,
        voluptatem velit, fugit veritatis quod vel distinctio illum commodi similique, numquam ipsa ipsum magnam beatae!
    </div>
</div>